<div class="container">
    <div class="column">
        <div class="banner">
            <div class="row">
                <button class="banner-item"><i></i>Mi Tiendita Local</button>
                <div class="links">
                    <button [routerLink]="['/auth/login']">Inicio Sesion</button>
                    <button [routerLink]="['/auth/register']">Regístrate</button>
                </div>
            </div>
        </div>

        <div class="aos-effect">
            <div class="back" data-aos="fade-right" data-aos-once="true" data-aos-duration="1200">
                <img src="../../../../../assets/Back.png">
                <div class="title">
                    <div id="margin1" class="intro">
                        <h2 style="text-align: justify;"> <i> Mejor administración, mejores resultados en tu negocio.</i></h2>
                        <h2 style="text-align: justify;">
                            <i>
                                En el mercado tecnológico se encuentran productos que ofrecen apoyo para los emprendedores locales, sin embargo, 
                                pocos toman en consideración el factor humano para facilitar sus ventas y lo que es más importante, gestionar ventas que proveen de 
                                una buena experiencia de compra. MiTienditaLocal busca marcar las bases de una buena experiencia de compra, a través del diseño de 
                                un sistema interactivo para la gestión de ventas de emprendedores locales.
                            </i>
                        </h2>
                    </div>
                </div>
            </div>

            <div>
                <!--
                <div class="content-title">
                    <h1>Emprendedores locales administran todos los recursos de negocio en su software MiTienditaLocal, la mejor plataforma de gestion para pequenos empresarios.</h1>
                </div>-->

                <div>
                    <div class="contenido"  fxLayout="row" class="contenido" fxLayoutGap="30px">
                        <div fxLayout="column" data-aos="fade-right" data-aos-duration="3000">
                            <h2 style="text-align: justify;">
                                Administra de que forman operan tus clientes, métodos de pago y 
                                redes social por el cual te han contactado realizar sus compras. 
                            </h2>
                        </div>
                        <div fxLayout="column">
                            <div data-aos="fade-left" data-aos-once="false" data-aos-duration="3000">
                                <img src="../../../../../assets/Client.PNG" alt="">
                            </div>
                        </div>   
                    </div>
                </div>

                <div>
                    <div class="contenido2" id="gradient" fxLayout="row" fxLayoutGap="30px">
                        <div fxLayout="column" data-aos="fade-right" data-aos-once="false" data-aos-duration="3000">
                            <img src="../../../../../assets/tienda.PNG" alt="">
                        </div>
                        <div fxLayout="column">
                            <div data-aos="fade-left" data-aos-once="false" data-aos-duration="3000">
                                <h2 style="text-align: justify;">
                                    Nadie puede revisar el contenido de tu tienda más que tú, 
                                    empieza a crear tu tienda virtual y administrarla con todas nuestras herramientas, 
                                    ingresa tus clientes, opera las ventas y entregas. Ten a tu disposición todos tus proveedores 
                                    y productos que necesites.</h2>
                            </div>
                        </div>   
                    </div>
                </div>

                <div>
                    <div class="contenido"  fxLayout="row" class="contenido" fxLayoutGap="30px">
                        <div fxLayout="column" data-aos="fade-right" data-aos-once="false" data-aos-duration="3000">
                            <h2 style="text-align: justify;"> 
                                Logra ver todas tus estadísticas basadas en tus ventas, 
                                que productos sobresalen y en que periodos tus ventas han generado más impacto.</h2>                           
                        </div>
                        <div fxLayout="column">
                            <div data-aos="fade-left" data-aos-once="false" data-aos-duration="3000">
                                <img src="../../../../../assets/Estadisticas.jpg" alt="">
                            </div>
                        </div>   
                    </div>
                </div>

                <div>
                    <div class="contenido2"  fxLayout="row" id="gradient" fxLayoutGap="30px">
                        <div fxLayout="column" data-aos="fade-right" data-aos-once="false" data-aos-duration="3000">
                            <img src="../../../../../assets/historial.PNG" alt="">
                        </div>
                        <div fxLayout="column">
                            <div data-aos="fade-left" data-aos-once="false" data-aos-duration="3000">
                                <h2 style="text-align: justify;"> 
                                    ¿Eres olvidadizo y crees que algún movimiento lo has hecho mal? MiTienditaLocal guarda registro de todos 
                                    tus movimientos, ve que todas las operaciones realizadas desde que inicias sesión a la plataforma.</h2>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            <div id="footer">
                <div id="contacto">Contactos</div>
                
                <div fxLayout="column" fxLayoutAlign="center" id="correos" fxlayoutGap="10px">
                </div>
                <div fxLayout="row" fxLayoutAlign="center" id="correos">
                    <div fxLayoutAlign="space-around" fxLayoutGap="80px">
                        <div fxLayout="column">
                            <div>Moisés González Torres</div>
                            <div>a260941@alumnos.uaslp.mx</div>
                        </div>
                        <div fxLayout="column">
                            <div>Luis Ángel Aguilar Torres </div>
                            <div>a255388@alumnos.uaslp.mx</div>
                        </div>
                        <div fxLayout="column">
                            <div>Liliana Berenice Hernández Hernández</div>
                            <div>a25310@alumnos.uaslp.mx</div>
                        </div>
                        <div fxLayout="column">
                            <div>Ivonne Montserrat Estrada López</div>
                            <div>a247019@alumnos.uaslp.mx</div>
                        </div>
                        <div fxLayout="column">
                            <div>Andrés Alejandro Araiza Villa</div>    
                            <div>a208151@alumnos.uaslp.mx</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>