@import "../../../../../styles/colors.scss";

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: black;
    z-index: 10;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin:0 50px;
}

.banner-item{
    background-color: #009688;
    color: white;
    height: 100%;
    text-decoration: none;
    margin: 0;
    border: none;
    padding: 0 20px;
}

.links{
    height: 40px;
    
    button{
        background-color: transparent;
        color: white;
        text-decoration: none;
        height: 40px;
        padding: auto;
        margin: 0;
        border: none;
        padding: 0 5px;
    }
    button:hover{
        transition: 0.3s;
        background-color: #009688;
        cursor: pointer;
    }
}

.back{
    margin-top: 40px;
    background-color: $quartenary;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 681px;
}

.title{
    color: white;
    background-color: $tertiary-back;
    height: 100%;
}

.aos-effect{
    overflow: hidden;
}

#footer {
    background:black;
    color:white;
    text-align:center;
}

#footer li{
    float: left;
    //text-align: center;
    background-color: black;
    padding: 10px;
    min-width: 100px;
}

ul{ list-style: none}
#correos div{
    align-items: center;
}

#contacto{
    text-align: center;
}

.ima2{
    float:left;
    width:100px;
    margin:0px;
}

.contenido{
    background-size: cover;
    display: flex;
    font-weight: bold;
    padding-bottom: 100px;
    margin: 15px;
}

.content-title{
    margin: 15px;
}

