<div class="container">
    <div class="column">
        <div class="banner">
            <div class="row">
                <button class="banner-item"><i></i>Mi Tiendita Local</button>
                <div class="links">
                    <button [routerLink]="['/auth/login']">Inicio Sesion</button>
                    <button [routerLink]="['/auth/register']">Registrate</button>
                </div>
            </div>
        </div>

        <div class="aos-effect">
            <div class="back" data-aos="fade-right" data-aos-once="true" data-aos-duration="1200">
                <img src="../../../../../assets/Back.png">
                <div class="title">
                    <h2>Mejor administración, mejores resultados en tu negocio.</h2>
                </div>
            </div>

            <div data-aos="fade-left" data-aos-once="true" data-aos-duration="1200">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis reprehenderit quasi blanditiis, perspiciatis a aperiam, voluptatibus, possimus corrupti distinctio non laudantium! Molestiae velit quidem pariatur, quo eaque autem sit ab.
            </div>

            <footer>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laudantium dicta accusamus officia enim repudiandae explicabo natus inventore veniam aperiam animi, mollitia, voluptatibus reprehenderit id quo voluptatem, asperiores eos sit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, molestiae repudiandae? Nemo sunt maxime voluptatum, modi laborum, saepe dignissimos voluptas natus, quam blanditiis eligendi similique quae itaque nisi eaque totam?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad iusto non, suscipit sequi dicta nesciunt assumenda architecto debitis, eligendi cumque accusamus inventore molestiae autem labore quia? Nisi qui aliquid eaque?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur dicta molestias aliquam voluptatum quae ut facere cum ab eum debitis! Pariatur explicabo beatae eum, maiores blanditiis labore eos accusamus voluptas.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. In molestias amet placeat, dolorum quas totam eum corporis. Placeat, nostrum, quas, consectetur sint nulla explicabo facilis molestias recusandae minima maiores non!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque itaque magni autem ducimus doloribus nostrum aperiam ut distinctio quo laborum cupiditate, fugiat asperiores tempore reprehenderit? Adipisci velit nihil veritatis itaque.
            </footer>
        </div>
    </div>
</div>