<div class="container">
    <div class="column">
        <div class="banner">
            <div class="row">
                <button class="banner-item"><i></i>Mi Tiendita Local</button>
                <div class="links">
                    <button [routerLink]="['/auth/login']">Inicio Sesion</button>
                    <button [routerLink]="['/auth/register']">Registrate</button>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="back">
                <img src="../../../../../assets/Back.png">
                <div class="title">
                    <h2>Mejor administración, mejores resultados en tu negocio.</h2>
                </div>
            </div>
        </div>

        <div class="aos-effect">
            <div data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In soluta laudantium consequuntur sunt repellat
                quidem repudiandae, autem tenetur non aspernatur ea tempore enim quasi. Incidunt, nemo aut libero fuga
                pariatur rerum! Perferendis vel minus commodi iste? Consequuntur eaque illum reiciendis eligendi iste
                velit sint iure perspiciatis. Error earum repellat dignissimos vel corporis dolorem consectetur
                reprehenderit quo non quas assumenda aliquam vitae saepe beatae est aut, consequuntur totam ratione
                dolor quibusdam nesciunt obcaecati molestias aspernatur tempora. Aliquam odio quae pariatur odit eum,
                error neque maiores sint voluptatum minima animi libero exercitationem quas veritatis totam? Corporis,
                eum repellendus? Neque perspiciatis iste inventore.
            </div>
            <br>
            <br>
            <br>
            <br>
            <div data-aos="fade-left" data-aos-duration="1000">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque rerum cum accusamus dolorum ducimus quae
                dicta repudiandae facere quod minus rem ipsa aperiam dignissimos ratione corporis laborum dolor
                voluptatem temporibus possimus, eius amet quibusdam asperiores reiciendis? Optio esse perspiciatis et
                earum delectus nobis quos officiis assumenda, sunt rem sit quis hic at ea repudiandae atque
                voluptatibus? Voluptates, earum. Ducimus explicabo id officiis ex iste facere voluptate, repellat quae
                vel veritatis incidunt dolorum molestias minus nihil eveniet recusandae nulla, ea accusantium magni
                inventore! Vero harum a aut accusamus unde molestiae soluta culpa repellat temporibus quasi, ab rem ipsa
                autem et earum!
            </div>

            <br>
            <br>
            <br>
            <br>
            <div data-aos="fade-down" data-aos-duration="1000">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta et dolores doloribus! Laboriosam ea
                veritatis temporibus expedita, obcaecati sapiente veniam quasi, repellendus suscipit deserunt, dicta
                consequatur quam iste iure. Ipsa est debitis corrupti error beatae dolorem, nisi numquam nostrum, ut
                facilis veniam repudiandae sint. Aspernatur, labore dicta fugiat provident praesentium maxime fuga id,
                inventore odio consequatur soluta voluptates quasi accusantium reiciendis culpa, maiores beatae eaque
                repudiandae? Quas, iste, alias minus similique nobis doloribus est tempore voluptates quibusdam minima
                aperiam consequuntur laborum et vitae? Aliquam repudiandae quos adipisci atque ex consectetur temporibus
                quis maxime, nihil, laudantium veritatis asperiores sunt accusantium. Dolores.
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <div data-aos="fade-up" data-aos-duration="1000">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus at quae voluptas inventore nobis quam.
                Accusantium in tenetur dolorem, reiciendis neque odio vero impedit autem error aspernatur nihil animi
                natus.
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>