<div class="container">
    <div class="row width">
        <img src="../../../../../assets/login_mitiendita.png" alt="">
        <div class="form column">
            <h1 class="title">Iniciar Sesión</h1>
            <mat-form-field appearance="outline">
                <mat-icon matPrefix>email</mat-icon>
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="email" name="ngModel" required>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-icon matPrefix>lock</mat-icon>
                <mat-label>Contraseña</mat-label>
                <input matInput [(ngModel)]="password" type="password" name="ngModel" required>
            </mat-form-field>
            
            <div class="row actions">
                <button class="btn-secondary" mat-button [routerLink]="['/auth/register']"> Registrarse </button>
                <button class="btn-primary" mat-button (click)="login()"> Iniciar Sesión </button>
            </div>
        </div>
    </div>
</div>