<!--
<mat-tab-group mat-align-tabs="center" #tabGroup>
    <mat-tab label="Datos de la direccion"> 
        <div>
            <form class="modal-content">
                <div class="container column">
                    <h1 class="text-center">Datos de la direccion</h1>
                    <mat-form-field appearance="outline">
                        <mat-label>Calle </mat-label>
                        <input matInput [(ngModel)]="address.street" name="ngModel" required>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>Numero exterior</mat-label>
                        <input matInput [(ngModel)]="address.external_number" name="ngModel" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Vecindario</mat-label>
                        <input matInput [(ngModel)]="address.neighborhood" name="ngModel" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Pais</mat-label>
                        <input matInput [(ngModel)]="address.country" name="ngModel" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Estado</mat-label>
                        <input matInput [(ngModel)]="address.state" name="ngModel" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Codigo Postal</mat-label>
                        <input matInput [(ngModel)]="address.zip_code" name="ngModel" required>
                    </mat-form-field>

                    <div class="row" style="justify-content: flex-end;">
                        <button mat-button class="btn-primary" style="margin: 5px 10px;" [mat-dialog-close]="'Continuar'">Guardar</button>
                    </div>
                </div>
            </form>
        </div>    
    </mat-tab>
</mat-tab-group>
-->