@import '../../../../../../styles/colors.scss';

.estiloTabla
{
  width: 90%;
  margin: auto;    
  background-color: $secondary;
  border: none;
}

//Aqui es todo el espacio del boton de agregar y el de busqueda
.container
{
  width: 90%;
  margin: 1rem auto;
  border-radius: 10px;
}

//Aqui es todo el espacio del items y la paginacion
.container_
{
  width: 90%;
  margin: 1rem auto;
  border-radius: 10px;
  
}

.estiloBotonAgregar
{
  color: $quartenary;
  background-color: $tertiary;
}

.iconoBusqueda
{
  position:absolute;
  bottom: .1px;
  right: 6px;  
}

.inputBuscar
{
  position: relative;
  //background:#ddd;
  width: 200px;
  height: 23px;
  border-radius: 10px;  
}

.btnEliminarEditar
{
  cursor:pointer; 
  border: none; 
  background-color: white;
  padding: 10px;
}

th
{
  font-style: normal;
  font-size: 100%;
  color: black;
  font-weight: bold;    
  background-color: rgb(194, 194, 194);
}
