<div class="column">
    <div *ngIf="width > 180 && !store">    
        <button class="storePhoto logo" [routerLink]="['/store/index']">
            <img src="../../../../../assets/store.jpeg" alt="">
        </button>
    </div>
    <div *ngIf="(width < 200 || width == 60) && !store">    
        <button class="storePhoto logo-short" [routerLink]="['/store/index']">
            <img src="../../../../../assets/store.jpeg" alt="">
        </button>
    </div>
    <div *ngIf="width > 180">    
        <span *ngIf="store">
            <span *ngIf="store.image">
                <button class="storePhoto logo" [routerLink]="['/store/index']">
                    <img src="{{apiUrl}}{{store.image}}" alt="">
                </button>
            </span>
            <span *ngIf="!store.image">
                <button class="storePhoto logo" [routerLink]="['/store/index']">
                    <img src="../../../../../assets/store.jpeg" alt="">
                </button>
            </span>
        </span>
    </div>
    <div *ngIf="width < 200 || width == 60">
        <span *ngIf="store">
            <span *ngIf="store.thumbnails">
                <button class="storePhoto logo-short" [routerLink]="['/store/index']">
                    <img src="{{apiUrl}}{{store.thumbnails}}" alt="">
                </button>
            </span>
            <span *ngIf="!store.thumbnails">
                <button class="storePhoto logo-short" [routerLink]="['/store/index']">
                    <img src="../../../../../assets/store.jpeg" alt="">
                </button>
            </span>
        </span>
    </div>
    
    <div class="separator"></div>
    <div class="column" *ngFor="let ref of refs;let i = index">
        <a class="route row active" (click)="selectActive(i)" [attr.id]="'ref' 
        + ref.name" *ngIf="ref.name == active && width > 60">
            <mat-icon>{{ref.icon}}</mat-icon> <p>{{ref.name}}</p>
        </a>
        <a class="route row" (click)="selectActive(i)" id="" [attr.id]="'ref' + ref.name" *ngIf="ref.name != active && width > 60">
            <mat-icon>{{ref.icon}}</mat-icon> <p>{{ref.name}}</p>
        </a>
        <a class="route-short row active" (click)="selectActive(i)" id="" [attr.id]="'ref' + ref.name" *ngIf="ref.name == active && (width < 60 || width == 60)">
            <mat-icon title="{{ref.title}}" >{{ref.icon}}</mat-icon>
        </a>
        <a class="route-short row" (click)="selectActive(i)" id="" [attr.id]="'ref' + ref.name" *ngIf="ref.name != active && (width < 60 || width == 60)">
            <mat-icon title="{{ref.title}}">{{ref.icon}}</mat-icon>
        </a>
    </div>
</div>