.container
{
    width: 45%;
    margin: 1rem auto;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
} 

.mat-form-field
{
    font-size: 14px;
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;
    border: 1px;
    border-radius: 10px;
}

button
{
    color: #FFFFFF;
    background-color: #326273;
}

.logo
{
    border: 1px;
    border-radius: 10px;
}

 img
{
    border: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: #808080;  
}

th{
    font-style: normal;
    font-size: 100%;
    color: black;
    font-weight: bold;
  }

  table{
    background-color: rgb(196, 228, 243);
  }