<div class="container">
    <div class="form column">
        <h1 class="title">Agregar Venta</h1>
        <mat-form-field appearance="outline">
            <mat-label>Selecciona un cliente</mat-label>
            <mat-select [(value)]="sale.client_id" [(ngModel)]="sale.client_id" name="ngModel" required>
                <span *ngFor="let dato of clients">
                    <mat-option [value]="dato.sku">{{dato.fullName}}</mat-option>
                </span>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Método de pago *</mat-label>
            <mat-select [(value)]="sale.payment_method" [(ngModel)]="sale.payment_method" name="ngModel" required>
                <mat-option value="cash">Efectivo</mat-option>
                <mat-option value="card">Tarjeta de crédito</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Número de tarjeta</mat-label>
            <input matInput type="text" class="example-right-align" name="card_number" [(ngModel)]="sale.card_number" maxlength="16">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Card cvc</mat-label>
            <input matInput type="text"  class="example-right-align" name="card_cvc" [(ngModel)]="sale.card_cvc" maxlength="3">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Expiración</mat-label>
            <input matInput type="text" class="example-right-align" name="expiration_date" [(ngModel)]="sale.expiration_date">
        </mat-form-field>
        <div>
            <h1 class="title">Lista de Productos</h1>

            
            <select [(ngModel)]="product" class="example-right-align">
                <option value = "0">Escoge un producto</option>
                <option value = "{{i}}" *ngFor="let dato of products; let i = index">
                  {{dato.fullName}}
                </option>
            </select>
            
                <mat-form-field appearance="outline" class="cantidad" id="cantidad">
                    <mat-label>Cantidad</mat-label>
                    <input matInput type="number" [(ngModel)]="quantity" name="cantidad" min="1">
                </mat-form-field> 
                
                
            <button class="btn-primary" id="botonAgregar" (click)="addProduct()" mat-button> Agregar </button>

            <table  mat-table [dataSource]="dataProducts" class= "estiloTabla">
                <ng-container matColumnDef="cantidad">
                  <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                  <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
                </ng-container>
              
                  <ng-container matColumnDef="products">
                  <th mat-header-cell *matHeaderCellDef> Productos </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef> Precio </th>
                  <td mat-cell *matCellDef="let element">${{element.price}} </td>
                </ng-container>
              
                <ng-container matColumnDef="subtotal">
                  <th mat-header-cell *matHeaderCellDef> Subtotal </th>
                  <td mat-cell *matCellDef="let element">${{element.subtotal}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                <ng-container matColumnDef="actions" >
                    <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Acciones</th>
                    <td mat-cell *matCellDef="let element" style="text-align: right;"> 
                    <button title="Eliminar" class="btnEliminarEditar" 
                        (click)="deleteProduct(element)"> <mat-icon style="color: red" >delete</mat-icon> 
                    </button>
                    </td>
                  </ng-container>
              </table>
              <h3 id="total">Total= ${{total}}</h3>
         </div>
       <br>  

        <div class="row actions">
            <button class="btn-secondary" (click)="goBack()" mat-button> Cancelar </button>
            <button class="btn-primary" (click)="save()" mat-button> Guardar </button>
        </div>
    </div>
</div>