<div class="container">
    <div class="form column">
        <h1 class="title">Agregar Venta</h1>
        <mat-form-field appearance="outline">
            <mat-label>Selecciona un cliente *</mat-label>
            <mat-select [(value)]="sale.client_id" [(ngModel)]="sale.client_id" name="ngModel" required>
                <span *ngFor="let client of clients">
                    <mat-option value="client.sku">{{client.fullName}}</mat-option>
                </span>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Metodo de pago *</mat-label>
            <mat-select [(value)]="sale.payment_method" [(ngModel)]="sale.payment_method" name="ngModel" required>
                <mat-option value="cash">Efectivo</mat-option>
                <mat-option value="card">Tarjeta de crédito</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Número de tarjeta</mat-label>
            <input matInput type="text" class="example-right-align" name="card_number" [(ngModel)]="sale.card_number" maxlength="16">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Card cvc</mat-label>
            <input matInput type="text"  class="example-right-align" name="card_cvc" [(ngModel)]="sale.card_cvc" maxlength="3">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Expiración</mat-label>
            <input matInput type="date"class="example-right-align" name="expiration_date" [(ngModel)]="sale.expiration_date">
        </mat-form-field>
        
        <h1 class="title">Lista de Productos</h1>

        <mat-form-field appearance="outline">
            <mat-label>Selecciona un producto *</mat-label>
            <mat-select [(value)]="sale.products" [(ngModel)]="sale.products" name="ngModel" >
                <span *ngFor="let product of products">
                    <mat-option value="product.sku">{{product.fullName + " "+ "$"+product.price}}</mat-option>
                </span>
            </mat-select>
        </mat-form-field>

        

        <div class="datosProductos">
            <mat-form-field appearance="outline" class="cantidad">
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" name="card_number" min="1" max="100">
            </mat-form-field> 
 
             <mat-form-field appearance="outline" class="cantidad">
                <mat-label>Precio</mat-label>
                <input matInput disabled type="number" name="card_number">
            </mat-form-field>
        
             <mat-form-field appearance="outline" class="cantidad">
                <mat-label>Total</mat-label>
                <input matInput disabled type="number" name="card_number">
            </mat-form-field> 
         </div>
       <br>  


        <div class="row actions">
            <button class="btn-secondary" (click)="addregreso()" mat-button> Cancelar </button>
            <button class="btn-primary" (click)="addregreso()" mat-button> Guardar </button>
        </div>
    </div>
</div>