$primary: #5C9EAD;
$secondary: #FFFFFF;
$tertiary: #326273;
$quartenary: #EEEEEE;
$quinary: #FE6D73;

$tertiary-back: rgba($tertiary, $alpha: 0.7);

$side-bar-color: #326273;
$top-bar-color: #5C9EAD;

$dropdown-backround: #326273;
$dropdown-content: #f9f9f9;
$background-content: #f9f9f9;

$background-btn-secondary: #DDDDDD;
$color-btn-secondary: #000000;