@import './colors.scss';
@import './fonts.scss';

//General stylesheet from: Mi tiendita local.
@mixin primary-hover {
    background-color: rgba($tertiary, $alpha: 0.5);  
    border: none !important;
    cursor: pointer;
    transition: 0.5s;
}

*{
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

.version-info {
    font-size: 8pt;
    float: right;
    margin: 8px;
}

.row{
    display: flex;
    flex-direction: row;
}
  
.column{
    display: flex;
    flex-direction: column;
}

.sidebar{
    background-color: $side-bar-color;
    max-width: 250px;
    min-width: 50px;
    width: 25%;
}

.topbar{
    background-color: $top-bar-color;
    height: 60px;
    min-height: 60px;
    width: 100%;
}
.topbar-padding{
    height: 60px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.content{
    width: max-content;
    background-color: $background-content;
    height: 100%;
    width: 100%;
}

.body{
    height: 100%;
    width: 100%;
}

.toggle{
    width: 100%;
}

.btn-primary{
    background-color: transparent;
    border: none !important;
    border-radius: 50%;
    color: $secondary;
    padding: 8px;

    &:hover{
        border-radius: 50%;
        @include primary-hover();
    }
}

.btn-dropdown{
    background-color: transparent;
    border: none !important;
    border-radius: 8px;
    color: $secondary;
    padding: 5px;
    &:hover{
        border-radius: 8px;
        @include primary-hover();
    }
}

.user-dropdown{
    min-width: 200px;
    max-width: 300px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}   

.user-dropdown-components{
    padding: 0 8px;
    min-width: calc(200px - 16px);
    width: calc(250px - 16px);
    max-width: 300px;
    color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}