.button{
    background-color: transparent;
    border: none;
  }
  
  .mat-form-field
  {
    font-size: 14px;
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;
    border: 1px;
    border-radius: 10px;
  }
  
  #input_icon
  {
    position:absolute;
    bottom: .1px;
    right: 6px;
  }
  
  .mat-button
  {
    color: #FFFFFF;
    background-color: #326273;
  }
  
  .btn
  {
    cursor:pointer;
  }
  
  img
  {
    width: 40px;
    height: 40px;
  }
  
  table
  {
    width: 90%;
    margin: auto;    
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
  }
  .container
  {
    width: 90%;
    margin: 1rem auto;
    border-radius: 10px;
  }
  
  .container_
  {
    width: 90%;
    margin: 1rem auto;
    border-radius: 10px;
  }
  
  #input_container
  {
    position: relative;
    background:#ddd;
    width: 200px;
    height: 23px;
    border-radius: 10px;
  }

  th{
    font-style: normal;
    font-size: 100%;
    color: black;
    font-weight: bold;
  }

  table{
    background-color: rgb(196, 228, 243);
  }