<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h2 style="text-align: center; margin-top: 10px;font-weight: bold;">Lista Ventas</h2>
<div class="container">  
  <div class="row" style="justify-content: space-between;">     
    <div class="inputBuscar row" style="left: -10px;">
      <input matInput (keyup) = "Buscar($event)" placeholder="Buscar" #input id="search_bar"> 
      <mat-icon>search</mat-icon>
    </div>    
    <button class="btn-primary" (click)="add()" mat-button> Nueva Venta </button>
</div>
</div>

<div id="loader" *ngIf="!dataSource">
  <style>
    .application-loading-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
    }

    .application-loading-box {
      width: 300px;
      margin: 5px;
      text-align: center;
    }
  </style>
  <div class="application-loading-container">
    <mat-spinner></mat-spinner> 
    <div class="application-loading-box"><h2>Loading...</h2></div>
  </div>
</div>
<table *ngIf="dataSource" mat-table [dataSource]="dataSource" class= "estiloTabla">
  <ng-container matColumnDef="Products">
    <th mat-header-cell *matHeaderCellDef> Productos </th>
    <td mat-cell *matCellDef="let element"> {{element.products}} </td>
  </ng-container>

    <ng-container matColumnDef="payment_method">
    <th mat-header-cell *matHeaderCellDef> Metodo de pago </th>
    <td mat-cell *matCellDef="let element"> {{element.payment_method}} </td>
  </ng-container>

  <ng-container matColumnDef="Card_Number">
    <th mat-header-cell *matHeaderCellDef> Numero de tarjeta </th>
    <td mat-cell *matCellDef="let element"> {{element.card_number}} </td>
  </ng-container>

  <ng-container matColumnDef="Card_cvc">
    <th mat-header-cell *matHeaderCellDef> Numero de cvc </th>
    <td mat-cell *matCellDef="let element"> {{element.card_cvc}} </td>
  </ng-container>

  <ng-container matColumnDef="expiration">
    <th mat-header-cell *matHeaderCellDef> Numero de expiracion </th>
    <td mat-cell *matCellDef="let element"> {{element.expiration_date}} </td>
  </ng-container>

  <ng-container matColumnDef="Acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones</th>
    <td mat-cell *matCellDef="let element"> 
        <button title="Editar" class="btnEliminarEditar"> <mat-icon style="color: rgb(211, 209, 83)" >create</mat-icon> </button>
        <button title="Eliminar" class="btnEliminarEditar"> <mat-icon style="color: red" >delete</mat-icon> </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No hay datos que coincidan con la búsqueda "{{input.value}}"</td>
  </tr>
</table>

<div class="container_">
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>