<div class="container">
    <div class="form column" *ngIf="sale">
        <h1 class="title">Editar Venta</h1>
        <mat-form-field appearance="outline">
            <mat-label>Producto</mat-label>
            <input matInput [(ngModel)]="sale.products" name="ngModel">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Metodo de pago </mat-label>
            <mat-select [(value)]="sale.payment_method" [(ngModel)]="sale.payment_method" name="ngModel">
                <mat-option value="cash">Efectivo</mat-option>
                <mat-option value="card">Tarjeta de crédito</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Número de Tarjeta</mat-label>
            <input matInput [(ngModel)]="sale.card_number" name="ngModel">
        </mat-form-field>

        <mat-form-field appearance="outline"> 
            <mat-label>Tarjeta CVC</mat-label>
            <input matInput  [(ngModel)]="sale.card_cvc" name="ngModel">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Fecha de expiración</mat-label>
            <input matInput [(ngModel)]="sale.expiration_date" name="ngModel">
        </mat-form-field>
        
        <div class="row actions">
            <button class="btn-secondary" mat-button (click)="regreso()"> Cancelar </button>
            <button class="btn-primary" mat-button (click)="save()" > Guardar </button>
        </div>
    </div>
</div>