<div class="container">
    <div class="form column" *ngIf="supplier && supplierAddress">
        <h1 class="title">Nuevo proveedor</h1>
        <mat-form-field appearance="outline">
            <mat-label>Nombre (s) *</mat-label>
            <input matInput [(ngModel)]="supplier.name" name="ngModel" required>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Apellidos (s) *</mat-label>
            <input matInput [(ngModel)]="supplier.last_name" name="ngModel" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="supplier.email" name="ngModel" required>
        </mat-form-field>

        <mat-form-field appearance="outline"> 
            <mat-label>Teléfono *</mat-label>
            <input matInput [(ngModel)]="supplier.phone" name="ngModel" required>
        </mat-form-field>
        
        <mat-form-field appearance="outline"> 
            <mat-label>Calle </mat-label>
            <input matInput [(ngModel)]="supplierAddress.street" name="ngModel" required>
        </mat-form-field>

        <mat-form-field appearance="outline"> 
            <mat-label>Numero Exterior </mat-label>
            <input matInput [(ngModel)]="supplierAddress.external_number" name="ngModel" required>
        </mat-form-field>

        <mat-form-field appearance="outline"> 
            <mat-label>Vecindario </mat-label>
            <input matInput [(ngModel)]="supplierAddress.neighborhood" name="ngModel" required>
        </mat-form-field>

        <mat-form-field appearance="outline"> 
            <mat-label>Pais </mat-label>
            <input matInput [(ngModel)]="supplierAddress.country" name="ngModel" required>
        </mat-form-field>

        <mat-form-field appearance="outline"> 
            <mat-label>Estado </mat-label>
            <input matInput [(ngModel)]="supplierAddress.state" name="ngModel" required>
        </mat-form-field>

        <mat-form-field appearance="outline"> 
            <mat-label>Codigo Postal </mat-label>
            <input matInput [(ngModel)]="supplierAddress.zip_code" name="ngModel" required>
        </mat-form-field>

        <div class="row actions">
            <button class="btn-secondary" mat-button (click)="goBack()"> Cancelar </button>
            <button class="btn-primary" mat-button (click)="create()"> Guardar </button>
        </div>
    </div>
</div>