<div fxLayout="column" fxLayoutAlign="">
    <div fxLayoutAlign="center">
        <fieldset>
            <legend>Supplier personal data</legend>

            <div fxLayout="row" fxLayoutGap="40px">
                <div fxLayout="row" fxLayoutGap="5px">
                    <div fxLayout="column" fxLayoutGap="10px">
                        <p>Name:</p>
                        <p>Email:</p>
                        <p>Ext. Number:</p>
                        <p>State:</p>
                    </div>
                    <div fxLayout="column" fxLayoutGap="10px">
                        <input type="text">
                        <input type="email" placeholder="example@example.exa">
                        <input type="text">
                        <select name="" id="" [(ngModel)]="seleccionado" >
                            <option value="" selected>Select address</option>
                            <option [value]="item" *ngFor="let item of lista">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutGap="5px">
                    <div fxLayout="column" fxLayoutGap="10px">
                        <p>Last Name:</p>
                        <p>Street:</p>
                        <p>Int. Number:</p>
                        <p>Country:</p>
                    </div>
                    <div fxLayout="column" fxLayoutGap="10px">
                        <input type="text">
                        <input type="text">
                        <input type="number">
                        <select name="" id="" [(ngModel)]="seleccionado" >
                            <option value="" selected>Select address</option>
                            <option [value]="item" *ngFor="let item of lista">{{item}}</option>
                        </select>
                    </div>    
                </div>

                <div fxLayout="row" fxLayoutGap="5px">
                    <div fxLayout="column" fxLayoutGap="10px">
                        <p>Phone:</p>
                        <p>Street 2:</p>
                        <p>Neighborhood:</p>
                        <p>Zip Code:</p>
                    </div>
                    <div fxLayout="column" fxLayoutGap="10px">
                        <input type="tel">
                        <input type="text">
                        <input type="text">
                        <input type="number">
                    </div>
                </div>

            </div> 

            <div fxLayoutAlign="end">
                <button mat-button> Create </button>
            </div>  
        </fieldset>
    </div>
</div>