 @import "~@angular/material/prebuilt-themes/indigo-pink.css";



.outer{
    height:200px;
    line-height: 200px;
  }

  .container-form{
    width: 25%;
    margin: 1rem auto;
    //box-shadow: -1px 3px 66px 0px rgba(92,158,173,1);
    padding: 1rem;
    border-radius: 10px;
  }

  .mat-button{
    color: #FFFFFF;
    background-color: #326273;
    //right: 0%;
    //position: inherit;
  }

  fieldset {
    border-radius: 10px;
    padding: 1.5em;
    border-width: 2px;
    margin: 20px;
    margin-top: 50px;
    border-style: groove;
    border-color: mediumturquoise;
    background-color: rgb(235, 250, 253);
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
}

input {
    cursor: text;
    border-width: 2px;
    border-radius: 2px;
}

select{
    border-radius: 10px;
}

input:hover{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}