<!----
<div fxLayout="column" fxLayoutAlign="">
    <div fxLayoutAlign="center">
        <fieldset>
            <legend>Supplier personal data</legend>

            <div fxLayout="row" fxLayoutGap="40px">
                <div fxLayout="row" fxLayoutGap="5px">
                    <div fxLayout="column" fxLayoutGap="10px">
                        <p>Name:</p>
                        <p>Email:</p>
                        <p>Ext. Number:</p>
                        <p>State:</p>
                    </div>
                    <div fxLayout="column" fxLayoutGap="10px">
                        <input type="text" name="name" [(ngModel)]="supplier.name">
                        <input type="email" placeholder="example@example.exa" name="email" [(ngModel)]="supplier.email">
                        <input type="text">
                        <select name="" id="" [(ngModel)]="seleccionado" >
                            <option value="" selected>Select address</option>
                            <option [value]="item" *ngFor="let item of lista">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutGap="5px">
                    <div fxLayout="column" fxLayoutGap="10px">
                        <p>Last Name:</p>
                        <p>Street:</p>
                        <p>Int. Number:</p>
                        <p>Country:</p>
                    </div>
                    <div fxLayout="column" fxLayoutGap="10px">
                        <input type="text" name="last_name" [(ngModel)]="supplier.last_name">
                        <input type="text">
                        <input type="number">
                        <select name="" id="" [(ngModel)]="seleccionado" >
                            <option value="" selected>Select address</option>
                            <option [value]="item" *ngFor="let item of lista">{{item}}</option>
                        </select>
                    </div>    
                </div>

                <div fxLayout="row" fxLayoutGap="5px">
                    <div fxLayout="column" fxLayoutGap="10px">
                        <p>Phone:</p>
                        <p>Street 2:</p>
                        <p>Neighborhood:</p>
                        <p>Zip Code:</p>
                    </div>
                    <div fxLayout="column" fxLayoutGap="10px">
                        <input type="tel" name="phone" [(ngModel)]="supplier.phone">
                        <input type="text">
                        <input type="text">
                        <input type="number">
                    </div>
                </div>

            </div> 

            <div fxLayoutAlign="end">
                <button mat-button (click)="create()"> Create </button>
            </div>  
        </fieldset>
    </div>
</div>
--->
<div class="container-form">
    <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayoutAlign="space-around center">
            <p style="font-weight: bold;">New Supplier</p>
        </div>
        <div fxLayoutAlign="space-around center">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        
        <div fxLayoutAlign="space-around center">
            <mat-form-field appearance="fill">
                <mat-label>Apellido</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div fxLayoutAlign="space-around center">
            <mat-form-field appearance="fill">
                <mat-label>Telefono</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div fxLayoutAlign="space-around center">
            <mat-form-field appearance="fill">
                <mat-label>Correo</mat-label>
                <input matInput>
                <mat-hint>example@example.com</mat-hint>
            </mat-form-field>
        </div>

        <div fxLayoutAlign="space-around center">
            <button mat-button (click)="back()"> <mat-icon>arrow_left</mat-icon> </button>
            <button mat-button>Crear</button>
        </div>
    </div>
</div>