<!-- this line shouldn't be here... but if it's removed, icons show plain text instead icon. -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="row body" *ngIf="!router.url.includes('/auth')">
    <div class="sidebar" id="sidebar" (resized)="onResized($event)">
        <app-side-bar [size]="width"></app-side-bar>
    </div>
    <div class="column toggle" id="content">
        <div class="topbar">
            <app-top-bar></app-top-bar>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div *ngIf="router.url.includes('/auth')">
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>