@import '../../../../../../styles/colors.scss';
@import '../../../../../../styles/stylesheet.scss';

.container{
    width: 90%;
    margin: 40px 5%;
}

.title{
    padding: 0 0 30px 0;
    text-align: center;
}

.form{
  margin: auto;
  padding: 10px 30px;
  width: 40%;
  border-radius: 20px;
  border: $primary 3px solid;
}

.actions{
    justify-content: flex-end;
}

