<div class="container">
    <div class="form column" *ngIf="product">
        <h1 class="title">Nuevo Producto</h1>
        <mat-form-field appearance="outline">
            <mat-label>Nombre *</mat-label>
            <input matInput [(ngModel)]="product.name" name="ngModel" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput [(ngModel)]="product.description" name="ngModel" required>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Precio*</mat-label>
            <input matInput [(ngModel)]="product.price" name="ngModel" required>
        </mat-form-field>

        <mat-form-field appearance="outline"> 
            <mat-label>Costo *</mat-label>
            <input matInput [(ngModel)]="product.cost" name="ngModel" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Stock</mat-label>
            <input matInput [(ngModel)]="product.stock" name="ngModel" required>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Categoría *</mat-label>
            <mat-select [(value)]="product.category" [(ngModel)]="product.category" name="ngModel" required>
                <mat-option value="drinks">Bebida</mat-option>
                <mat-option value="food">Comida</mat-option>
                <mat-option value="desserts">Postre</mat-option>
            </mat-select>
        </mat-form-field>

        <div style="text-align:center">
            <div [innerHtml]='msg' *ngIf="msg" style="color: rgb(17, 16, 16);"></div>
            <div>
                <img [src]="url" *ngIf="url" style="width:100%; height:100%">
            </div>
            <p>
                <input type="file" (change)="selectFile($event)">
            </p>
        </div>
        <br>  

        <div class="row actions">
            <button class="btn-secondary" mat-button (click)="goBack()"> Cancelar </button>
            <button class="btn-primary" mat-button (click)="save()"> Guardar </button>
        </div>
    </div>
</div>