<div class="container">
    <div class="form column">
        <h1 class="title">Agregar Producto</h1>
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Descripcion</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Precio</mat-label>
            <input matInput type="number" class="example-right-align">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Costo</mat-label>
            <input matInput type="number" class="example-right-align">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Stock</mat-label>
            <input matInput type="number"class="example-right-align">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Categoria *</mat-label>
            <mat-select>
                <mat-option value="drinks">Bebidas</mat-option>
                <mat-option value="food">Comida</mat-option>
                <mat-option value="dessert">Postres</mat-option>
            </mat-select>
        </mat-form-field>

        <div fxLayoutAlign="center" style="border: 1px solid rgb(148, 144, 144);">
            <div fxLayout="column" fxLayoutGap="20px">
                <label for="">Seleccionar nueva imagen</label>
                <!--<input type="file" accept="image/png,image/jpeg" id="file" (change)="File($event)" #file>-->
            </div>
        </div>
       <br>  

        <div class="row actions">
            <button class="btn-secondary" mat-button> Cancelar </button>
            <button class="btn-primary" mat-button> Guardar </button>
        </div>
    </div>
</div>