<div class="container">
    <div class="form column" *ngIf="cutoff">
        <h1 class="title">Información del Corte</h1>
        <mat-form-field appearance="outline">
            <mat-label>Fecha Inicial</mat-label>
            <input matInput type= "date"  [(ngModel)]="cutoff.initial_date" name="ngModel" readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Fecha Final</mat-label>
            <input matInput type="date" [(ngModel)]="cutoff.final_date" name="ngModel" readonly>
        </mat-form-field>

        
        <!-- <mat-form-field appearance="outline">
            <mat-label>Total</mat-label>
            <input matInput [(ngModel)]="cutoff.total" name="ngModel" readonly>
        </mat-form-field> -->

        

        <div class="row actions">
            <button class="btn-secondary" mat-button (click)="goBack()"> Cancelar </button>
            <!-- <button class="btn-primary" mat-button (click)="save()"> Guardar </button> -->
        </div>

    </div>
</div>