<div class="container">
    <div class="form column" *ngIf="product">
        <h1 class="title">Editar Producto</h1>        
        <mat-form-field appearance="outline">
            <mat-label>Nombre *</mat-label>
            <input matInput [ngModel]="product.name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Descripcion</mat-label>
            <textarea matInput [ngModel]="product.description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Precio</mat-label>
            <input matInput type="number" [ngModel]="product.price" class="example-right-align">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Costo</mat-label>
            <input matInput type="number" [ngModel]="product.cost" class="example-right-align">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Stock</mat-label>
            <input matInput type="number" [ngModel]="product.stock" class="example-right-align">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Categoria *</mat-label>
            <mat-select [(value)]="product.category">
                <mat-option value="drinks">Bebidas</mat-option>
                <mat-option value="food">Comida</mat-option>
                <mat-option value="dessert">Postres</mat-option>
            </mat-select>
        </mat-form-field>

        <div style="text-align:center">
            <div [innerHtml]='msg' *ngIf="msg" style="color: rgb(17, 16, 16);"></div>
            <div>
                <img [src]="url" *ngIf="url" style="width:100%; height:100%">
            </div>
            <p >
                <input type="file" (change)="selectFile($event)">
            </p>
        </div>
       <br>   

        <div class="row actions">
            <button class="btn-secondary" mat-button (click)="regresarIndex()"> Cancelar </button>
            <button class="btn-primary" mat-button (click)="guardarCambios()"> Guardar </button>
        </div>
    </div>
</div>