<div class="container">
    <div class="row width">
        <img src="../../../../../assets/login_mitiendita.png" alt="">
        <div class="form column">
            <h1 class="title">Registrarse</h1>
            <mat-form-field appearance="outline">
                <mat-icon matPrefix>account_box</mat-icon>
                <mat-label>Ingresa el nombre</mat-label>
                <input matInput [(ngModel)]="user.name" name="ngModel" required>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-icon matPrefix>account_box</mat-icon>
                <mat-label>Ingresa el apellido</mat-label>
                <input matInput [(ngModel)]="user.last_name" name="ngModel" required>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-icon matPrefix>email</mat-icon>
                <mat-label>Ingresa el correo electronico</mat-label>
                <input matInput [(ngModel)]="user.email" name="ngModel" required>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-icon matPrefix>lock</mat-icon>
                <mat-label>Ingresa la contraseña</mat-label>
                <input matInput [(ngModel)]="user.password" name="ngModel" type="password" required>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-icon matPrefix>lock</mat-icon>
                <mat-label>Ingresa la contraseña de nuevo</mat-label>
                <input matInput [(ngModel)]="retypePassword" name="ngModel" type="password" required>
            </mat-form-field>
            
            <div class="row actions">
                <button class="btn-secondary" [routerLink]="['/auth/login']" mat-button> Iniciar Sesión </button>
                <button class="btn-primary" mat-button (click)="signUp()"> Registrarse </button>
            </div>
        </div>
    </div>
</div>