<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="top-bar.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>
<body>
    <nav>
        <div class="topnav" id="myTopnav">
            <div class="menu">
                <a href=""><i class="fas fa-bars"></i></a>
            </div>

            <div class="dropdown">
              <button class="dropbtn">
                <i class="fas fa-user-circle"></i>Nombre de Usuario
              </button>
              <div class="dropdown-content">
                <a href="#">Pestaña 1</a>
                <a href="#">Pestaña 2</a>
                <a href="#">Pestaña 3</a>
              </div>
            </div>
           </div>
    </nav>
</body>
</html>
