<div class="container">
    <div class="form column" >
        <h1 class="title">Editar Entrega</h1>
        <mat-form-field appearance="outline">
            <mat-label>Lugar de entrega</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Estatus</mat-label>
            <input matInput>
        </mat-form-field>
        
        
            <!-- <mat-form-field appearance="outline">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
          </mat-form-field> -->

        <div class="row actions">
            <button class="btn-secondary" mat-button> Cancelar </button>
            <button class="btn-primary" mat-button> Guardar </button>
        </div>

    </div>
</div>