<div class="container">
    <form action="">
        <div fxLayout="column" fxLayoutGap="50px">
            <div fxLayoutAlign="space-between center" fxLayout="column" fxLayoutGap="30px">
                
                <div fxLayout="column" fxLayoutGap="20px">
                
                    <div fxLayoutAlign="center" fxLayoutGap="20px">
                        <div fxLayout="column" fxLayoutGap="20px">
                            <label for="">Date</label>
                            <label for="">Place</label>
                        </div>
                        <div fxLayout="column" fxLayoutGap="20px">
                            <input type="date" value="2021-04-12">
                            <input type="text" value="Calle Benito Juarez">
                        </div>
                    </div>
                    <div fxLayoutAlign="center" fxLayoutGap="20px">
                        <div fxLayout="column" fxLayoutGap="20px">
                            <label for="">Status</label>
                        </div>
                        <div fxLayout="column" fxLayoutGap="20px">
                            <select name="" id="" >
                                <option value="delivered">Delivered</option>
                                <option value="canceled">Canceled</option>
                                <option value="pending">Pending</option>
                                <option value="ontheway">On the way</option>
                            </select>
                        </div>
                    </div>
                </div>


            </div>
            <div fxLayoutAlign="center">
                <button mat-button>Save</button>
            </div>
        </div>
    </form>
</div>