<div class="container">
    <div class="form column" *ngIf="cutoff">
        <h1 class="title">Nuevo Corte</h1>
        <mat-form-field appearance="outline">
            <mat-label>Fecha Inicial</mat-label>
            <input matInput type="date" name="initial_date" id="initial_date" [(ngModel)]="cutoff.initial_date">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Fecha Final</mat-label>
            <input matInput type="date" name="final_date" id="final_date" [(ngModel)]="cutoff.final_date">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Total</mat-label>
            <input matInput name="total" [(ngModel)]="cutoff.total">
        </mat-form-field>

        <div class="row actions">
            <button class="btn-secondary" mat-button (click)="goBack()"> Cancelar </button>
            <button class="btn-primary" mat-button (click)="save()"> Guardar </button>
        </div>

    </div>
</div>