<div class="container">
    <div class="form column" >
        <mat-form-field appearance="outline">
            <mat-label>Elige Fecha Inicio de Corte</mat-label>
            <input matInput [matDatepicker]="iniciopicker">
            <mat-datepicker-toggle matSuffix [for]="iniciopicker"></mat-datepicker-toggle>
            <mat-datepicker #iniciopicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Elige Fecha Inicio de Corte</mat-label>
            <input matInput [matDatepicker]="finalpicker">
            <mat-datepicker-toggle matSuffix [for]="finalpicker"></mat-datepicker-toggle>
            <mat-datepicker #finalpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Total</mat-label>
            <input matInput>
        </mat-form-field>

        <div class="row actions">
            <button class="btn-secondary" mat-button> Cancelar </button>
            <button class="btn-primary" mat-button> Guardar </button>
        </div>

    </div>
</div>