<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">  
  <div class="row" style="justify-content: space-between;">     
      <div class="inputBuscar row" style="left: -10px;">
        <input matInput (keyup) = "Buscar($event)" placeholder="Buscar" #input id="search_bar"> 
        <mat-icon>search</mat-icon>
      </div>    
      <button class="btn-primary" mat-button (click)="add()"> Nuevo cliente </button>
  </div>
</div>
<div id="loader" *ngIf="!dataSource">
  <style>
    .application-loading-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
    }

    .application-loading-box {
      width: 300px;
      margin: 5px;
      text-align: center;
    }
  </style>
  <div class="application-loading-container">
    <mat-spinner></mat-spinner>
    <div class="application-loading-box"><h2>Loading...</h2></div>
  </div>
</div>
<table *ngIf="dataSource" mat-table [dataSource]="dataSource" class= "estiloTabla">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="payment_method">
    <th mat-header-cell *matHeaderCellDef> Metodo de pago </th>
    <td mat-cell *matCellDef="let element"> {{element.payment_method}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Telefono </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="client_type">
    <th mat-header-cell *matHeaderCellDef> Tipo Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.client_type}} </td>
  </ng-container>

  <ng-container matColumnDef="actions" >
    <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Acciones</th>
    <td mat-cell *matCellDef="let element" style="text-align: right;"> 
        <button title="Editar" class="btnEliminarEditar" (click)="edit(element)"> <mat-icon style="color: rgb(211, 209, 83)" >create</mat-icon> </button>
        <button title="Eliminar" class="btnEliminarEditar" (click)="openDialog(element)"> <mat-icon style="color: red" >delete</mat-icon> </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No hay datos que coincidan con la búsqueda "{{input.value}}"</td>
  </tr>
</table>

<div class="container_">
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>