<mat-tab-group mat-align-tabs="center" #tabGroup>
    <mat-tab label="Bienvenido(a)"> 
            <div class="container">
              <h1 class="text-center">{{data.title}}</h1>
              <h4>{{data.body}}</h4>  
              <div class="row">
                <video class="center" autoplay loop muted playsinline src="../../../assets/VideoWelcome.mp4" style="width: 400px; height: 200px;"></video>
              </div>
              <div class="row" style="justify-content: flex-end;">
                <button mat-button class="btn-primary" style="margin: 5px 10px;" (click)="tabGroup.selectedIndex=1">Continuar</button>
              </div>
            </div>
    </mat-tab>
    <mat-tab label="Datos básicos"> 
        <div>
            <form class="modal-content">
                <div class="container column">
                    <h1 class="text-center">Datos básicos de tu empresa</h1>
                    <mat-form-field appearance="outline">
                        <mat-label>¿Cuál es el nombre de tu empresa?</mat-label>
                        <input matInput [(ngModel)]="store.name" name="ngModel" required>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>Ingresa un número telefónico de contacto</mat-label>
                        <input matInput [(ngModel)]="store.phone" name="ngModel" required>
                    </mat-form-field>

                    <input type="file" placeholder="selecciona tu logo">
                    
                    <div class="row" style="justify-content: flex-end;">
                        <button mat-button class="btn-primary" style="margin: 5px 10px;" [mat-dialog-close]="'Continuar'">Guardar</button>
                    </div>
                </div>
            </form>
        </div>    
    </mat-tab>
</mat-tab-group>
