.outer{
    height:200px;
    line-height: 200px;
  }
  .full-width{
    width: 100%;
  }
  .container{
    width: 35%;
    margin: 1rem auto;
    box-shadow: -1px 3px 66px 0px rgba(92,158,173,1);
    padding: 1rem;
    border-radius: 10px;
   } 
  
   select {
     width: 174px;
   }
  
  
  
  .mat-button{
    color: #FFFFFF;
    background-color: #326273;
  }
  form{
    font-size: 14px;
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;
    border: 1px;
    border-radius: 10px;
    min-width: 200px;
    max-width: 500px;
   }
  